.common-button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;

  &:disabled {
    cursor: default;
  }
}

.overlay-toolbar {
  padding: 16px;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;

  .overlay-toolbar-button {
    background-color: #e1e1e1;
    font-weight: bold;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;

    &:hover {
      background-color: #ffffff;
    }
  }
}

.fixed-toolbar {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 11;
  position: absolute;
  left: 0;
  right: 0;

  .draw-toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .config-toolbar-container {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    color: white;

    .config-toolbar-label {
      margin-right: 8px;
    }

    .config-toolbar-tolerance input {
      width: 100px;
    }

    .config-toolbar-encoding {
      margin-top: 16px;

      .config-toolbar-label-title {
        background-color: #ffffff;
        color: black;
        padding: 1px;
      }

      .config-toolbar-label-result {
        border: 1px solid #ffffff;
        padding: 2px;
      }

      > .config-toolbar-section ~ .config-toolbar-section {
        margin-top: 16px;
      }
    }
  }

  .fixed-toolbar-button {
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    background-color: #42a5f5;

    &:hover {
      background-color: #78bbf1;
    }

    &:disabled {
      background-color: #8f8f8f;
    }

    ~ .fixed-toolbar-button {
      margin-left: 16px;
    }
  }
}

p {
  color: #ffffff;
  font-size: 14px;
}
